# Byte-compiled
__pycache__/
*.pyc
__pycache__
# pyenv
.python-version
# environments
.env
env/*
.venv
venv/*
# packaging
build/
*_build*
eggs/
.eggs*
*.egg-info*
dist/
downloads/
#unit test
.cache
.pytest_cache
.vscode
.pyc