# Byte-compiled
__pycache__/
*.pyc
# pyenv
.python-version
# environments
.env
env/*
.venv
venv/*
# packaging
*_build*
!.github/actions/
!.github/actions/python_build/
!.github/actions/python_build/**
# "*_build*" also matches the GMB example scripts (run_gene_model_builder.*)
!support_scripts/gmb/examples/run_gene_model_builder.*
eggs/
.eggs*
*.egg-info*
dist/
downloads/
#unit test
.cache
.pytest_cache

#IDEA
.vscode/
