// Base nextflow.config - Shared configuration for all pipelines
// This file provides default settings that can be inherited by pipeline-specific configs
// Any setting here can be overridden in pipeline-specific nextflow.config files

// Include standard resource definitions
includeConfig 'conf/resources.config'
includeConfig 'conf/shared-module.config'
includeConfig 'conf/transcriptomics_annotation.config'


// Pipeline metadata - will be inherited by all pipelines unless overridden
manifest {
    name            = 'EnsEMBL Genebuild Pipeline Collection'
    author          = 'EnsEMBL Genebuild'
    homePage        = 'https://github.com/ensembl/ensembl-genes-nf'
    description     = 'Collection of bioinformatics pipelines'
    version         = '0.1.0'
    nextflowVersion = '!>=26.04'
}

profiles {
    slurm {
        executor {
        name = 'slurm'
        queueSize = 2000
        submitRateLimit = "10/1sec"
        queueGlobalStatus = true
        exitReadTimeout = "30 min"
        }

        process {
        clusterOptions = '-t 7-00:00:00 -e errlog.txt'
        }
    }
}

// Default process settings - applied to all processes unless overridden
process {
    // Basic resource allocation - start small, can be increased per pipeline
    cpus   = 1
    memory = '4GB'
    time   = '2h'
    
    // Error handling strategy
    maxRetries    = 1                      // Maximum number of retries
    maxErrors     = '-1'                   // Don't stop pipeline on individual job failures

    // better error handling 
    // -e ensures multi-command processes stop on first fail 
    // -u exit on undefined variable - catches typos
    // -o pipefail fail if anything in a pipe fails 
    //          eg. 'bowtie x.fq <index> | samtools sort -b -O out.bam' 
    //             will fail if bowtie fails even if samtools somehow outputs
    //             exit status 0
}

// Global params that are inherited by pipelines - typically for logging runs 
params {
    // Output settings
    outdir          = null          // Default output directory - set this on command line
    tracedir        = "${params.outdir}/pipeline_info"  // Where to store execution reports
    projectdir = null    // Path to repo with python scripts etc
}

// Execution reporting - always enabled to track pipeline performance
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline.html"
}

report {
    enabled = true  
    file    = "${params.tracedir}/execution_report.html"
}

trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace.txt"
}

dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag.svg"
}

// I had this in a profile but decided it should be the default and can be overwritten with profiles 
// if we want to support non-cluster execution with Docker/Conda 
singularity {
    enabled = true
    autoMounts = false
    cacheDir = '/hps/nobackup/flicek/ensembl/genebuild/singularity_cache'
    runOptions = '--cleanenv'
}