// Resource allocation definitions for process labels
// This file defines standard resource classes that can be used across all pipelines

// TODO fix this
// These are AI generated suggestions but we should populate with the ones we have in eHive

process {
    // Light processes - QC, small file operations, quick scripts
    withLabel: process_light {
        cpus   = 1
        memory = '2.GB'
        time   = '1.h'
    }
    
    // Low resource processes - most standard bioinformatics tools
    withLabel: process_low {
        cpus   = 2
        memory = '8.GB'
        time   = '4.h'
    }
    
    // Medium resource processes - alignment, assembly steps
    withLabel: process_medium {
        cpus   = 4
        memory = '16.GB'
        time   = '8.h'
    }
    
    // High resource processes - intensive computations
    withLabel: process_high {
        cpus   = 8
        memory = '32.GB'
        time   = '12.h'
    }
    
    // High memory processes - genome loading, large data structures
    withLabel: process_high_memory {
        cpus   = 2
        memory = '64.GB'
        time   = '8.h'
    }
    
    // Long running processes - large genome processing
    withLabel: process_long {
        cpus   = 4
        memory = '16.GB'
        time   = '24.h'
    }
    
    // Single threaded processes that need time
    withLabel: process_single_long {
        cpus   = 1
        memory = '8.GB'
        time   = '12.h'
    }
}